.wrapper {
  margin-top: 2em;
}

.formWrapper {
  box-shadow: 0 8px 28px 0 rgba(0,0,0,.08), 0 4px 6px 0 rgba(0,0,0,.1);
  border-radius: 5px 5px 8px 8px;
  background-color: #fff;
  color: #4d4d4d;
  padding: 1em;
}