@import 'variables.css';

:root {
    --background-linear-gradient {
      background-image: $main-background-image;
    };

    --label {
      display: block;
      line-height: 1.125em;
      margin-bottom: -0.25em;
      color: $input-color;
    }

    --input {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      text-decoration: none;
      list-style: none;
      font-size: 1rem;
      font-weight: 700;
      line-height: 2.5em;
      height: 50px;
      padding: 0.75em 0;
      padding-right: 1.5em;
      border-radius: 0;
      background-color: transparent;
      color: $input-color;
      border: none;
      border-bottom: 1px solid #deebf7;
      appearance: none;
      display: block;
      width: 100%;
      background-size: 1em;
      padding-left: 1.5em;
      background-position: 0;
      background-repeat: no-repeat;
      &:hover,
      &:focus {
        outline: none;
      }
    }
}